@font-face {
    font-family: 'VT323';
    src: url('../../../../../fonts/VT323-Regular.ttf');
}

.label {
    -fx-font-family: 'VT323';
    -fx-font-size: 15;
}

#hunter, #complete {
    -fx-font-family: 'VT323';
    -fx-font-size: 60;
}

#goal {
    -fx-font-family: 'VT323';
    -fx-font-size: 30;
}

#main {
    -fx-background-color: "#EAD0A8";
}

.button .text {
    -fx-font-family: 'VT323';
}