@font-face {
    font-family: 'VT323';
    src: url('../../../../../fonts/VT323-Regular.ttf');
}

.label, #goal, #state-timer {
    -fx-font-family: 'VT323';
    -fx-font-size: 20;
}

#hunter, #complete {
    -fx-font-family: 'VT323';
    -fx-font-size: 60;
}

#goal-title {
    -fx-font-family: 'VT323';
    -fx-font-size: 30;
}

#level-title {
    -fx-font-family: 'VT323';
    -fx-font-size: 40;
}

.level-name {
    -fx-font-family: 'VT323';
    -fx-font-size: 25;
}

#main, #pause-menu, #main-menu {
    -fx-background-color: "#EAD0A8";
}

.button .text {
    -fx-font-family: 'VT323';
}